@media screen and (max-width: 1920px) and (orientation: landscape) {
    body {
        padding: 0px;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        color: #4E4E4E;
        font-size: 18px;
        overflow-x: hidden;
        width: 1920px;
        height: 956px;
        
        -moz-user-select: none;
        -o-user-select:none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    a {	
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;
    }

                                        /* background */

    .main-bg {
        background-color: #000000;
        background: url(../img/main-bg.svg) no-repeat center top / cover;
        width: 1920px;
        height: 956px;
        top: 0px;
        left: 0px;
        position: absolute;
        box-shadow: 0px 0px 33px 20px rgba(0, 0, 0, 0.25);
    }

    .main-bg2 {
        display: none;
    }

    .footer-bg {
        position: absolute;
        width: 1920px;
        height: 330px;
        left: 0px;
        top: 924px;
        background: #3E3E3E;
        z-index: -1;
    }

                                        /* header */

    .header-logo {
        position: absolute;
        background: url(../img/logo.svg) no-repeat center top / cover;
        width: 147px;
        height: 52px;
        left: 370px;
        top: 32px;
    }

    .header-link {
        position: absolute;
        left: 1039px;
        top: 40px;
    }

    .header-link a {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        margin-right: 35px;
    }

    .content-bg {
        position: absolute;
        width: 1180px;
        height: 658px;
        left: 370px;
        top: 155px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
    }

    .content h1 {
        position: absolute;
        left: 432px;
        top: 167px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 38px;
        line-height: 46px;
        color: #FFFFFF;    
    }

    .crown img {
        position: absolute;
        top: 286px;
        left: 432px;
        background-blend-mode: overlay;
    }

    .crown h1 {
        position: absolute;
        left: 539px;
        top: 268px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .crown p {
        position: absolute;
        left: 432px;
        top: 349px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .cup img {
        position: absolute;
        top: 286px;
        left: 979px;
        background-blend-mode: overlay;
    }

    .cup h1 {
        position: absolute;
        left: 1086px;
        top: 268px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .cup p {
        position: absolute;
        left: 979px;
        top: 349px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .like img {
        position: absolute;
        top: 529px;
        left: 432px;
        background-blend-mode: overlay;
    }

    .like h1 {
        position: absolute;
        left: 539px;
        top: 532px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .like p {
        position: absolute;
        left: 432px;
        top: 598px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .person img {
        position: absolute;
        top: 534px;
        left: 979px;
        background-blend-mode: overlay;
    }

    .person h1 {
        position: absolute;
        left: 1086px;
        top: 532px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 22px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .person p {
        position: absolute;
        left: 979px;
        top: 598px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        color: #FFFFFF;
    }

    .logo-footer img{
        position: absolute;
        left: 370px;
        top: 1015px;
    }

    .logo-footer p {
        position: absolute;
        left: 370px;
        top: 1101px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    }

    .o_comp h1 {
        position: absolute;
        left: 741px;
        top: 983px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .p {
        position: absolute;
        left: 759px;
        top: 1039px;
    }

    .p div {
        margin-bottom: 12px;
    }

    .o_comp p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
    }

    .img-footer {
        position: absolute;
        left: 747px;
        top: 1049px;
    }

    .img-footer img {
        margin-bottom: 25.5px;
    }

    .svyaz-footer h1 {
        position: absolute;
        left: 941px;
        top: 983px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .ggg {
        position: absolute;
        left: 947px;
        top: 1039px;
    }

    .ggg div {
        margin-bottom: 12px;
    }

    .svyaz-footer p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
        margin-bottom: -12px;
    }

    .rassilka h1 {
        position: absolute;
        left: 1170px;
        top: 983px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .rassilka input {
        position: absolute;
        width: 230px;
        height: 31px;
        left: 1170px;
        top: 1040px;
        border: 1px solid #B0B0B0;
        box-sizing: border-box;
        border-radius: 14px;
        background: none;
        outline: none;
        cursor: pointer;
        padding-left: 5px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        padding-left: 12px;
    }

    .rassilka p {
        position: absolute;
        left: 1182px;
        top: 1029px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #B0B0B0;
    }

    .rassilka input:focus ~ .label,
    .rassilka input:not(:placeholder-shown) ~ .label {
        display: none;
    }

    .rassilka button {
        position: absolute;
        width: 135px;
        height: 31px;
        left: 1415px;
        top: 1040px;
        background: #00614F;
        border-radius: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }

    .socseti h1 {
        position: absolute;
        left: 1170px;
        top: 1089px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .img1-footer {
        position: absolute;
        top: 1151px;
        left: 1170px;
    }

    .img2-footer {
        position: absolute;
        top: 1151px;
        left: 1247px;
    }

    .img3-footer {
        position: absolute;
        top: 1150px;
        left: 1333px;
    }

    .img4-footer {
        position: absolute;
        top: 1155px;
        left: 1412px;
    }
}

@media screen and (max-width: 1440px) and (orientation: landscape) {
    .main-bg {
        display: none;
    }

    .main-bg2 {
        display: block;
        width: 1440px;
        height: 900px;
        top: 0px;
        left: 0px;
        position: absolute;
        box-shadow: 0px 0px 33px 20px rgba(0, 0, 0, 0.25);
    }

    .footer-bg {
        width: 1440px;
        top: 810px;
    }
    
    .header-logo {
        top: 30px;
        left: 130px;
    }

    .header-link {
        left: 799px;
        top: 38px;
    }












    .content-bg {
        left: 130px;
    }

    .content h1 {
        left: 192px;
    }

    .crown img {
        left: 192px;
    }

    .crown h1 {
        left: 299px;
    }

    .crown p {
        left: 192px; 
    }

    .cup img {
        left: 739px;
    }

    .cup h1 {
        left: 846px;
    }

    .cup p {
        left: 739px;
    }

    .like img {
        left: 192px;
    }

    .like h1 {
        left: 299px;
    }

    .like p {
        left: 192px;
    }

    .person img {
        left: 739px;
    }

    .person h1 {
        left: 846px;
    }

    .person p {
        left: 739px;
    }














    
                                    /* footer */

    .logo-footer img {
        left: 130px;
        top: 945px;
    }

    .logo-footer p {
        left: 130px;
        top: 1031px;
    }

    .o_comp h1 {
        left: 501px;
        top: 913px;
    }

    .p {
        left: 519px;
        top: 969px;
    }

    .img-footer {
        left: 508px;
        top: 979px;
    }

    .svyaz-footer h1 {
        left: 701px;
        top: 913px;
    }

    .ggg {
        left: 709px;
        top: 969px;    
    }

    .rassilka h1 {
        left: 930px;
        top: 913px;
    }

    .rassilka input {
        left: 930px;
        top: 970px;
    }

    .rassilka p {
        left: 942px;
        top: 959px;
    }

    .rassilka button {
        left: 1175px;
        top: 970px;
    }

    .socseti h1 {
        left: 930px;
        top: 1019px;
    }

    .img1-footer {
        left: 930px;
        top: 1081px;
    }

    .img2-footer {
        left: 1007px;
        top: 1081px;
    }

    .img3-footer {
        left: 1093px;
        top: 1080px;
    }

    .img4-footer {
        left: 1172px;
        top: 1085px;
    }
}

@media screen and (max-width: 575px) {    
    body {
        width: 100%;
    }
    
    a {
        text-decoration: none;
    }

    .main-bg {
        display: none;
    }

    .main-bg2 {
        display: none;
    }

    .main-bg3 {
        position: absolute;
        width: 428px;
        height: 823px;
        left: 0px;
        top: 0px;
        z-index: -1;
        box-shadow: 0px 0px 33px 20px rgba(0, 0, 0, 0.25);
    }

    .footer-bg {
        position: absolute;
        width: 428px;
        height: 414px;
        left: 0px;
        top: 795px;
        background: #3E3E3E;
        z-index: -10;
    }

    .img111 {
        display: none;
    }

    .img112 {
        position: absolute;
        left: 39px;
        top: 856px;
    }

    .header-link {
        display: none;
    }

    .header-logo {
        display: none;
    }

    .header-logo-phone {
        position: absolute;
        left: 39px;
        top: 30px;
    }

    .menu-burger {
        position: absolute;
        left: 346px;
        top: 40px;
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
    }

    .menu {
        display: none;
    }

    .show-menu {
        display: block;
    }

    .bg-menu {
        position: absolute;
        width: 339px;
        height: 823px;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.85);
    }

    .logo-menu-phone {
        position: absolute;
        left: 39px;
        top: 30px;
    }

    .menu h1 {
        position: absolute;
        left: 41px;
        top: 132px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        z-index: 1;
    }

    .sub-menu {
        position: absolute;
        left: 41px;
        top: 227px;
        z-index: 1;
    }

    .sub-menu div {
        margin-bottom: 28px;
    }

    .sub-menu a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        z-index: 1;
    }

    .main img {
        position: absolute;
        left: -14px;
        top: 145px
    }

    .menu h2 {
        position: absolute;
        left: 39px;
        top: 440px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        z-index: 1;
    }

    .inst-menu {
        position: absolute;
        top: 500px;
        left: 39px;
        z-index: 1;
    }

    .ds-menu {
        position: absolute;
        top: 500px;
        left: 78px;
        z-index: 1;
    }

    .tg-menu {
        position: absolute;
        top: 499px;
        left: 122px;
        z-index: 1;
    }

    .vk-menu {
        position: absolute;
        top: 502px;
        left: 162px;
        z-index: 1;
    }

    .menu h3 {
        position: absolute;
        left: 39px;
        top: 522px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        z-index: 1;
    }

    .tel-menu {
        position: absolute;
        left: 39px;
        top: 582px;
        z-index: 1;
    }

    .tel-menu div {
        margin-bottom: 10px;
    }

    .tel-menu a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: #FFFFFF;
    }

    .content-bg {
        position: absolute;
        width: 350px;
        height: 606px;
        left: 39px;
        top: 170px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 30px;
    }

    .content h1 {
        position: absolute;
        left: 59px;
        top: 185px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .crown-laptop {
        display: none;
    }

    .cup-laptop {
        display: none;
    }

    .like-laptop {
        display: none;
    }

    .person-laptop {
        display: none;
    }

    .crown-phone {
        position: absolute;
        top: 255px;
        left: 59px;
    }

    .crown h1 {
        position: absolute;
        left: 106px;
        top: 234px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .crown p {
        position: absolute;
        width: 325px;
        left: 59px;
        top: 287px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .cup-phone {
        position: absolute;
        top: 404px;
        left: 59px;
    }

    .cup h1 {
        position: absolute;
        left: 106px;
        top: 386px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .cup p {
        position: absolute;
        width: 320px;
        left: 59px;
        top: 439px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .like-phone {
        position: absolute;
        top: 518px;
        left: 59px;
    }

    .like h1 {
        position: absolute;
        left: 106px;
        top: 515px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .like p {
        position: absolute;
        width: 315px;
        left: 59px;
        top: 549px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }

    .person-phone {
        position: absolute;
        top: 660px;
        left: 59px;
    }

    .person h1 {
        position: absolute;
        left: 106px;
        top: 654px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .person p {
        position: absolute;
        width: 300px;
        left: 59px;
        top: 688px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
    }






    .logo-footer p {
        position: absolute;
        left: 39px;
        top: 906px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 141.9%;
        color: #FFFFFF;
    }

    .o_comp h1 {
        position: absolute;
        width: 120px;
        left: 266px;
        top: 840px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .p {
        position: absolute;
        left: 283px;
        top: 878px;
    }

    .p a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 158.9%;
        color: #FFFFFF;
    }

    .img-footer {
        position: absolute;
        left: 270px;
        top: 876px;
    }

    .img-footer div {
        margin-bottom: 4px;
    }

    .svyaz-footer h1 {
        position: absolute;
        left: 39px;
        top: 950px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
    }

    .ggg {
        position: absolute;
        left: 47px;
        top: 988px;
    }

    .ggg div {
        margin-bottom: 3px;
    }

    .ggg a {
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 158.9%;
        color: #FFFFFF;
    }

    .socseti h1 {
        position: absolute;
        left: 219px;
        top: 1019px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        content: "Подписаться:";
    }

    .img-laptop {
        display: none;
    }

    .img1-footer {
        position: absolute;
        top: 1067px;
        left: 219px;
    }

    .img2-footer {
        position: absolute;
        top: 1067px;
        left: 266px;
    }

    .img3-footer {
        position: absolute;
        top: 1067px;
        left: 318px;
    }

    .img4-footer {
        position: absolute;
        top: 1070px;
        left: 366px;
    }

    .rassilka h1 {
        position: absolute;
        left: 39px;
        top: 1092px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .rassilka input {
        position: absolute;
        width: 170px;
        height: 23px;
        left: 39px;
        top: 1133px;
        border: 1px solid #B0B0B0;
        box-sizing: border-box;
        border-radius: 9px;
        background: none;
        outline: none;
        padding-left: 6px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #B0B0B0;
    }

    .rassilka p {
        position: absolute;
        left: 47px;
        top: 1126px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #B0B0B0;
    }

    .rassilka input:focus ~ .label,
    .rassilka input:not(:placeholder-shown) ~ .label {
        display: none;
    }

    .rassilka button {
        position: absolute;
        width: 108px;
        height: 23px;
        left: 219px;
        top: 1133px;
        background: #00614F;
        border-radius: 9px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        border: none;
    }

    .sub-footer h1 {
        position: absolute;
        left: 39px;
        top: 1179px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        color: #FFFFFF;
    }

    .sub-footer p {
        position: absolute;
        width: 200px;
        left: 201px;
        top: 1175px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #FFFFFF;
    }

    .sub-footer-bg {
        position: absolute;
        width: 428px;
        height: 30px;
        left: 0px;
        top: 1179px;
        background: #1D1D1D;
    }
}